<div class="navbar">
    <label for="home">Cyberghost</label>
    <div class="nav-links">
        <ul>
            <li><a href="" class="active"></a>Home</li>
            <li><a href=""></a>Services</li>
            <li><a href=""></a>Skills</li>
            <li><a href=""></a>Contact</li>
            <li><a href=""></a>About</li>
        </ul>
        <div class="btns">
            <a href="#" class="btn-signin">sign in</a>
            <a href="#" class="btn-signup">sign up</a>
        </div>
    </div>
</div>