:root{
    --primary-color: #F50057;
    --secondary-color: #FAFAFA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
}

.navbar{
    width: 100%;
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar label{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar ul li{
    margin: 0 10px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 20px;
}
.navbar ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
}
.btns a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}